* {
    margin: 0px;
    padding: 0px;
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 20px;
    background-color: aqua;
}

button {
    cursor: pointer;
    text-align: center;
    flex: 1;
    background-color: rgba(255, 2255, 255, 0.5);
    padding: 100px;
    margin: 50px;
    font-size: 100px;
    color: aliceblue;
    border: 1px solid white;
    box-shadow: 10px 5px 10px #7272727d ;
    -webkit-backdrop-filter: blur(10px);
}

#Num_disp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 20px;
    background-color: rgb(0, 255, 255);
}
#Num_disp div{
    text-align: center;
    flex: 1;
    background-color: rgba(255, 2255, 255, 0.5);
    padding: 20px;
    margin: 10px;
    font-size: 100px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    box-shadow: 10px 5px 10px #7272727d ;
    -webkit-backdrop-filter: blur(10px);
}