@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/862cc171-8df5-418c-886f-2aaf767ae159/2e1414e3-cdae-473f-af07-31f9b74741f6/IN-en-20230130-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
}

.body {
    min-width: 100%;
    min-height: 100vh;
}

.body .back_bone {
    max-width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.body .heading img {
    max-width: 166.5px;
    max-height: 45px;
    padding: 10px;
    margin: 13px 31px;
}

.body .main_box {
    width: 28%;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .75);
}

.body .main_box form {
    margin: 0px 30px;
}

.body .main_box form h1 {
    color: white;
    font-weight: 600;
    text-align: left;
    margin: 15px 0px;
}

.body .main_box form .inputs {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px;
    margin: 0px;
}

.body .main_box form .inputs input {
    color: white;
    background-color: #333;
    padding: 14px 15px;
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 10px 0px;
    font-size: 14px;
}

::placeholder {

    font-size: 16px;
}

.body .main_box form .btn {
    margin: 17px 0px 10px 0px;
}

.body .main_box form .btn button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color: #e50914;
    border-radius: 8px;
}

.body .main_box form .checking,
.body .main_box form .checking .check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.body .main_box form .checking div:nth-child(1) label {
    color: rgb(211, 208, 208);
    font-size: 13px;
}

.body .main_box form .checking div:nth-child(1) input[type="checkbox"] {
    display: grid;
    place-content: center;
    appearance: none;
    background-color: gray;
    margin: 0px 4px;
    font: inherit;
    width: 1em;
    height: 1em;
    outline: none;
    border: none;
    border-radius: 0.15em;
    transform: translateY(-0.075em)
}

.body .main_box form .checking div:nth-child(1) input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    background-color: red;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

.body .main_box form .checking div:nth-child(1) input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.body .main_box form .checking div:nth-child(2) a {
    color: #7a7575;
    text-decoration: none;
}

.body .main_box form .texts {
    margin: 100px 0px 0px 5px;
}

.body .main_box form .texts p:nth-child(1) {
    color: gray;
    font-size: 14px;
    text-align: left;
}

.body .main_box form .texts p:nth-child(1) a {
    color: white;
    text-decoration: none;
}

.body .main_box form .texts p:nth-child(2) a {
    color: #0071eb;
    text-decoration: none;
}

.body .main_box form .texts p:nth-child(2) {
    color: rgb(211, 208, 208);
    font-size: 13px;
    margin: 10px 0px;
    text-align: left;
}

.footer {
    margin: 100px 0px 0px 0px;
    background-color: rgba(0, 0, 0, .75);
    padding: 20px 14%;
}

.footer .footer_heading div {
    color: #737373;
    font-size: 14px;
    display: flex;
    margin: 10px 0px 15px 0px;
}

.footer .footer_heading div:nth-child(1) p a {
    color: #737373;
    text-decoration: none;
}

.footer .footer_heading div:nth-child(1) p a:hover {
    text-decoration: underline;
}

.footer .footer_heading div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.footer .footer_heading div:nth-child(2) ul {
    display: block;
    margin: 10px 130px 10px 0px;
    font-size: 12px;
}

.footer .footer_heading div:nth-child(2) ul li {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
}

.footer .footer_heading div:nth-child(2) ul li a {
    text-decoration: none;
    color: #737373;
}

.footer .footer_heading div:nth-child(3) {
    display: flex;
    align-items: center;
    max-width: 120px;
    background: transparent;
}

.footer .footer_heading div:nth-child(3) .select_group {
    position: relative;
    display: flex;
    gap: 6px;
    padding: 15px;
    background-color: black;
    border: 1px solid #737373;
    align-items: center;
    color: white;
    font-size: 30px;
}

.footer .footer_heading div:nth-child(3) .select_group i {
    color: gray;
    font-size: 15px;
}

.footer .footer_heading div:nth-child(3) .select_group select {
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: #737373;
}

.footer .footer_heading div:nth-child(3) .select_group select option {
    background-color: black;
    font-size: 12px;
}